<div class="container">
	<app-topbar (show)="onShowing($event)" [closed] = "closed"> </app-topbar>
	<!-- close if clicked close -->
	<app-sidebar *ngIf="!closed" (list)="onSelectingList($event)" (close)="onClosing($event)" (favorites)="onGettingFaves($event)"  class="col-lg-2"> </app-sidebar>
	<!-- show if not list view is triggered-->
	<app-panoramas [panoramas] = "panoramas" *ngIf="!list" [faves] = "faves" [get_favorites] = "show_favorites" class="col-lg-10"> </app-panoramas> 
	<!-- show if list view is triggered-->
	<app-panoramas-list [panoramas] = "panoramas" *ngIf="list" [faves] = "faves"  [get_favorites] = "show_favorites" class="col-lg-10"> </app-panoramas-list> 
</div>


